# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/

# Virtual Environment
.venv/
venv/
ENV/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Project specific
data/processed/*
*.log